@import-normalize; /* bring in normalize.css styles */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: url(./images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-attachment: fixed;
  	background-color: #2c89a0;
  	font-family: 'Roboto', sans-serif;
  	color: #fff;
}


h1, h2, h3 {
	font-family: 'Playfair Display', serif;
	font-weight: lighter;
}

h2 {
	font-size: 27px;
	line-height: 36px;
}

h3 {
	font-size: 22px;
}

p {
	color: #fff;
	font-size: 17px;
	line-height: 26px;
}


/*home*/

/*first slide wrap*/
.firstHead, .secondHead, .thirdHead, .fourthHead {
	width: 100%;
	height: 100vh;
	display: flex;
	position: relative;
	justify-content: center;
}

.firstHead {
	align-items: center;
}
.secondHead {
	align-items: center;
}

.fourthHead {
	align-items: center;
	flex-direction: column;
}

.homeHeader {
	width: 84%;
	max-width: 800px;
	margin-top: 80px;
	line-height: 32px;
	font-size: 20px;
}

.secondHomeHeader, .thirdHomeHeader {
	position: absolute;
	width: 55%;
}

.secondHomeHeader {
	margin-left: 25%;
}

.thirdHomeHeader {
	margin-top: 130px;
}

.fourthHead .button {
	margin-top: 50px;
}

.fourthHead a {
	text-decoration: none;
}

.fourthHead a:hover {
	text-decoration: underline;
}

/*Bg image wraps*/
.firstHeadImageHolder, .secondHeadImageHolder, .thirdHeadImageHolder {
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;	
}

.firstHeadImageHolder {

	background-image: url("./images/underwater2.jpg");
	background-position: bottom;
	position: absolute;
	top: 0;
	z-index: -1;
	opacity: 0.2;

}
.secondHeadImageHolder {
	width: 100%;
	height: 100vh;
	background-image: url("./images/underwater_polluted.jpg");
	background-position: center;
	position: relative;
	opacity: 0.2;
}

.thirdHeadImageHolder {
	width: 100%;
	height: 100vh;
	background-image: url("./images/diver.jpg");
	background-position: center;
	position: relative;
	opacity: 0.1;
}

/*scroll icon*/
.scroll, .thirdScroll {
	width: 20px;
	height: 27px;
	border-radius: 8px;
	border: 1px solid #fff;
	position: absolute;
	bottom: 7%;
	z-index: 1;
	background-color: none;
	display: flex;
	justify-content: center;
}

.scrollWheel, .thirdScrollWheel {
	background-color: #05dd78;
	width: 3px;
	height: 4px;
	z-index: 3;
	margin-top: 7px;
}

.secondScroll {
	width: 20px;
	height: 27px;
	border-radius: 8px;
	border: 1px solid #fff;
	position: absolute;
	z-index: 1;
	background-color: none;
	display: flex;
	justify-content: center;
	bottom: 7%;
}

.secondScrollWheel {
	background-color: #05dd78;
	width: 3px;
	height: 4px;
	z-index: 2;
	margin-top: 7px;
}

/*container exluding homepage*/
.container {
	width: 100%;
	padding: 0 25px;
	margin-top: 140px;
	margin-left: auto;
	margin-right: auto;
	max-width: 690px;
}

/*more-info*/
.moreInfoIntro {
	margin: 25px 0 45px 0;
}

.pollutionTypesWrap {
	width: 100%;
}

.pollutionTypesWrap img {
	width: 100%;
}

.pollutionType {
	margin-top: 40px;
}

.pollutionType a {
	display: block;
	margin-top: 10px;
	color: #fff;
}

.pollutionType h3 {
	margin: 15px 0 10px 0;
}

.summary {
	margin-top: 55px;
	margin-bottom: 100px;
}

/*More Info subpages*/ 
.subPageWrap img {
	width: 100%;
	margin: 40px 0 25px 0;
}

.subPageWrap a, .single-event-wrap a, .single-story a {
	color: #fff;
	display: block;
	margin-top: 15px;
}

.subPageWrap {
	margin-bottom: 100px;
}

/*news*/
.container img {
	width: 100%;
}
.news-wrap img, .events-wrap img {
	width: 100%;
	margin-top: 50px;
	margin-bottom: 15px;
}

.news-wrap h2, .events-wrap h2 {
	margin: 10px 0 20px 0;
}



.story, .story-first, .event, .event-first {
	margin-top: 50px;
	padding-bottom: 0;	
}

/* first mapped item no border	*/
.story-first, .event-first {
	border-top: none;
}

.story, .event {
	border-top: 1px dashed #fff;
}

.story a, .event a, .story-first a, .event-first a, .event a{
	color: #fff;
}

.story-summary, .event-summary {
	margin-bottom: 20px;
}



.story-first a:visited, .event-first a:visited {
	color: #fff;
}

.single-story {
	margin-bottom: 50px;
}

.single-story .date {
	margin-top: 20px;
}

.single-story h2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.events-wrap,.single-event-wrap, .news-wrap {
	margin-bottom: 70px;
}

.event-title {
	margin: 10px 0 20px 0;
}

.date {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
	font-size: 30px;
	margin-top: 5px;
}

/*Take action page*/
.take-action-container {
	width: 66%;
	max-width: 450px;
	margin: 180px auto 0 auto;
}

.take-action-container li {
	list-style: none;
	border-bottom: dashed 1px #fff;
}

.take-action-container li:last-of-type {
	border-bottom: none;
}

.take-action-container li a {
	text-decoration: none;
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	display: block;
	margin: 30px 0;
}

.take-action-container li a:visited {
	color: #fff;
}

.take-action-container li a:hover {
	text-decoration: underline;
}

/*404 page*/
.error-wrap {
	display: flex;
	justify-content: center;
}

.lrg-404 {
	font-size: 180px;
	margin-bottom: 20px;
}

.error-title {
	width: 100%;
	max-width: 600px;
	padding-bottom: 30px;
/*	border-bottom: dashed 1px #fff;*/

}

.error-wrap div img {
	width: 80px;
	position: absolute;
	top: 31%;
	left: 50%;
	z-index: -1;
	opacity: 0.5;
}

.secondary-nav {
	display: flex;
	justify-content: center;
	flex-flow: wrap;
	margin-top: 75px;
	margin-bottom: 20px;
}

.secondary-nav li {
	display: inline-block;
	list-style-type: none;
	
}

.secondary-nav li::after {
	content : "|" ;
	margin-left: 10px;
	margin-right: 10px;
}

.secondary-nav li:last-of-type::after {
	content: " ";
}

.secondary-nav li a {
	color: #fff;
	text-decoration: none;
}

.secondary-nav li a:hover {
	text-decoration: underline;
}









@media (min-width: 768px) {
	.homeHeader {
		line-height: 32px;
		font-size: 24px;
	}

	.pollutionTypesWrap {
		
	}

	.pollutionType {
		width: 310px;
	}
	/*.pollutionType:nth-of-type(2),.pollutionType:nth-of-type(3) {
		flex: 2;
	}*/
	.rowOne, .rowTwo {
		display: flex;
		justify-content: space-between;
	}

	.news-wrap h2 {
		margin: 20px 0 20px 0;
	}


	.image-and-meta {
		display: flex;
		align-items: flex-end;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.image-and-meta img {
		width: 215px;
		margin-bottom:0;
	}

	.image-and-meta p {
		margin-left: 20px;
	}

	.single-story img {
		margin-bottom: 10px;
	}

	.story a h2, h2 {
		margin-left: 0;
	}

}

@media (min-width: 1048px) {
	.homeImageOne {
		margin-right: 8%;
	}

	.homeImageTwo {
		margin-left: 8%;
	}
}


/*TYPE*/
