@import-normalize; /* bring in normalize.css styles */

body {
	background: url(./images/bg.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
  	background-color: #2c89a0;

  	font-family: 'Roboto', sans-serif;
}

/*TYPE*/
